.header {
    flex: none;
    font-size: 13px;
    position: relative;
    background-color: $white;

    &__top {
        height: 40px;
        position: relative;
        color: $baltic-sea-color;
        border-bottom: 1px solid $mischka;

        > .container {
            height: 100%;
            display: flex;
        }
    }

    &__main {
        height: 142px;

        > .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__nav {
        height: 60px;
        background-color: $baltic-sea-color;

        > .container {
            height: 100%;
        }
    }

    &__basket {
        width: 85px;
        height: 85px;
        position: relative;
        background-color: $twine-color;
        transition: box-shadow 0.2s linear;

        > img {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 34px;
            height: 40px;
            margin: auto;
            position: absolute;
        }

        > span {
            top: 8px;
            right: 10px;
            color: $white;
            font-size: 10px;
            position: absolute;
        }

        &:hover {
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
        }
    }
}

.top-nav {
    width: 100%;
    height: 100%;

    &__row {
        height: 100%;
        display: flex;
    }

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        margin-right: 1rem;
        max-width: 58.33333%;
        flex-basis: 58.33333%;
        justify-content: space-between;
    }

    &__item {
        height: 100%;
    }

    &__link {
        height: 100%;
        display: flex;
        color: $baltic-sea-color;
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
        transition: color 0.2s linear;

        &:hover {
            color: $twine-color;
        }
    }

    &__sup {
        color: $white;
        width: 15px;
        height: 15px;
        font-size: 9px;
        text-align: center;
        border-radius: 50%;
        background-color: $twine-color;
    }

    &__services {
        max-width: 41.66667%;
        flex-basis: 41.66667%;
    }
}

.services-list {
    display: flex;
    justify-content: flex-end;

    &__item {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    &__item + &__item {
        border-left: 1px solid $mischka;
    }
}

.main-nav {
    height: 100%;

    &__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 100%;

        &--special {
            .main-nav__link {
                padding: 0 50px;
                text-transform: uppercase;
                background-color: $contessa;
            }
        }
    }

    &__link {
        height: 100%;
        color: $white;
        display: flex;
        font-size: 16px;
        padding: 0 10px;
        align-items: center;
        text-decoration: none;
    }
}


.main-tools {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 58.33333%;
    flex-basis: 58.33333%;

    &__info {
        height: 100%;
        padding-top: 10px;
    }

    &__contacts {
        margin-top: 23px;
    }
}

.contacts {
    display: flex;
    margin-top: -23px;
    margin-left: -20px;
    margin-right: -20px;
    justify-content: space-between;

    &__item {
        margin-top: 23px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__item,
    &__link {
        font-weight: 600;
        text-decoration: none;
        color: $baltic-sea-color;
    }

}
* + .contacts__link {
    margin-left: 15px;
}

.fa-phone-alt,
.fa-envelope,
.fa-search {
    color: $twine-color;
}

.fa-search {
    top: 50%;
    right: 16px;
    font-size: 16px;
    position: absolute;
    transform: translateY(-50%);
    transition: color 0.2s linear;
    color: rgba(193, 160, 103, 0.5);
}

.icon-pie {
    width: 14px;
    height: 14px;
}
