.section {
    + .section {
        margin-top: 80px;
    }

    &__title {
        width: 100%;
        line-height: 1;
        font-size: 36px;
        line-height: 1.4;
        font-weight: 700;
        text-align: center;
        padding-bottom: 25px;
        color: $baltic-sea-color;
        text-transform: uppercase;
        border-bottom: 1px solid $twine-color;
    }

    &__header {
        display: flex;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        align-items: center;
        flex-direction: column;
    }

    &__subtitle {
        font-size: 14px;
        margin-top: 30px;
        font-weight: 700;
        color: $twine-color;
    }

    &__body {
        margin-top: 60px;
    }

    &--half-background {
        position: relative;

        &:before {
            top: 0;
            right: 0;
            width: 50%;
            content: '';
            height: 100%;
            position: absolute;
            background-color: #f9f9f9;
        }
    }
}

.logo-list {
    margin-left: -90px;
    margin-right: -90px;
    display: flex;
    justify-content: space-between;

    &__item {
        margin-top: 0;
    }

    &-text {
        &__item {
            margin-top: 25px;
        }
    }
}

.highlights {
    display: flex;

    &__item {
        font-size: 14px;
        line-height: 1.4;
        position: relative;
        display: inline-flex;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        &:before {
            content: '';
            width: 80px;
            height: 1px;
            margin-top: 0.6em;
            margin-right: 20px;
            display: inline-block;
            background-color: $mischka;
        }
    }
}
