                </div>
            </main>
        </div>
        <footer class="footer">
            <div class="footer__main">
                <div class="container container--wide">
                    <div class="footer__row">
                        <div class="footer__col">
                            <span class="footer__title js-footer-header">О&nbsp;компании</span>
                            <nav class="footer-nav js-footer-body">
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">О&nbsp;магазине</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Оплата</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Доставка</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Новости</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Статьи</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Контакты</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Информация о&nbsp;заказах</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__col">
                            <span class="footer__title js-footer-header">Каталог</span>
                            <nav class="footer-nav js-footer-body">
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Женская парфюмерия</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Мужская парфюмерия</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Новинки</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Средства ухода</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Селективная косметика</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Духи для дома</a>
                                    </li>
                                    <li class="footer-nav__item">
                                        <a href="#" class="link footer-nav__link">Винтаж</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="footer__col">
                            <a href="tel:+74955420595" class="link footer__title mobile-hide">+7 /495/ 542-05-95</a>
                            <span class="footer__title js-footer-header mobile-show">Контакты</span>
                            <div class="contacts js-footer-body">
                                <div class="contacts__item contacts__item--additional">
                                    <p class="contacts__text">Мы&nbsp;доступны также
                                        <a href="#" class="contacts__icon"><i class="fab fa-whatsapp"></i></a>
                                        <a href="#" class="contacts__icon"><i class="fab fa-viber"></i></a>
                                    </p>
                                    <p class="contacts__text">В&nbsp;рабочее время с&nbsp;9.00 до&nbsp;21.00</p>
                                </div>
                                <div class="contacts__item">
                                    <i class="fas fa-phone-alt"></i>
                                    <a href="#" class="link contacts__link">Обратный звонок</a>
                                </div>
                                <div class="contacts__item">
                                    <i class="far fa-envelope"></i>
                                    <a href="mailto:info@lenoma.ru" class="link contacts__link">info@lenoma.ru</a>
                                </div>
                                <div class="contacts__item">
                                    <i class="fab fa-skype"></i>
                                    <span class="contacts__link">skype: lenoma.ru</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer__col">
                            <span class="footer__title js-footer-header">Подписаться на&nbsp;новости</span>
                            <div class="js-footer-body">
                                <form action="#" class="form form--subscribe">
                                    <div class="form__item">
                                        <input type="text" name="email" value size="40" placeholder="Введите email" class="form__input">
                                        <button class="form__submit" type="submit" name="subscribe-submit">Подписаться</button>
                                    </div>
                                </form>
                                <a href="#" class="link link--inst">
                                    <div class="white-circle">
                                        <i class="fab fa-instagram fa-gradient"></i>
                                    </div>
                                    <span>Присоединяйтесь к&nbsp;нам</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container container--wide">
                    <div class="copyright">
                        <div class="copyright__item">&copy;&nbsp;2017. Lenoma.ru</div>
                        <div class="copyright__item"><img src="../images/idea.svg" alt="" class="copyright__img"><a href="#" class="link">Разработка и&nbsp;поддержка&nbsp;&mdash; &laquo;ЭВРИКА&raquo;</a></div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
