<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/eb448ec1e0.js" crossorigin="anonymous"></script>
        <title>Lenoma</title>
    </head>

    <body>
        <header class="header">
            <div class="header--desktop">
                <div class="header__top">
                    <div class="container container--wide">
                        ${require('./templates_area/top-nav.html')}
                    </div>
                </div>
                <div class="header__main">
                    <div class="container container--wide">
                        <div class="logo">
                            <img src="../images/logo.png" alt="">
                        </div>
                        ${require('./templates_area/main-tools.html')}
                        <a href="#" class="header__basket">
                            <img src="../images/basket.svg" alt="">
                            <span>4</span>
                        </a>
                    </div>
                </div>
                <div class="header__nav">
                    <div class="container container--wide">
                        ${require('./templates_area/main-nav.html')}
                    </div>
                </div>
            </div>
            <div class="header--mobile">
                <div class="header__top">
                    <div class="container container--wide">
                        <div class="logo">
                            <img src="../images/logo.png" alt="">
                        </div>
                        <button class="hamburger hamburger--squeeze js-toggle-nav" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        <div class="nav-container" style="display: none">
                            ${require('./templates_area/top-nav.html')}
                            ${require('./templates_area/main-nav.html')}
                            ${require('./templates_area/main-tools.html')}
                        </div>
                        <div class="services-buttons">
                            <div class="services-list">
                                <div class="services-list__item">
                                    <a href="#" class="top-nav__link top-nav__link--search"><i class="fas fa-search"></i></a>
                                </div>
                                <div class="services-list__item">
                                    <a href="#" class="top-nav__link"><i class="far fa-id-card"></i></a>
                                </div>
                                <div class="services-list__item">
                                    <a href="#" class="top-nav__link"><i class="far fa-star"></i> <sup class="top-nav__sup">2</sup></a>
                                </div>
                                <a href="#" class="header__basket">
                                    <img src="../images/basket.svg" alt="">
                                    <span>4</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            <main class="content">
                <div class="container container--wide">
