<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Акция</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Парфюмерия</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Новинки</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Макияж</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Уход за&nbsp;кожей</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Уход за&nbsp;волосами</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Для мужчин</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Organic</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Подарки</a>
        </li>
        <li class="main-nav__item main-nav__item--special">
            <a href="#" class="main-nav__link">Sale</a>
        </li>
    </ul>
</nav>
